{% extends "main.html" %}

{% block title %}Data Diagnostics - {% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm">
    {% for dataset in params.dataset_types %}
    <h4>{{ dataset.dataset_name }}</h4>

    <dl>
      <dt>ID</dt>
      <dd>{{ dataset.dataset_id }}</dd>
      <dt>Filename Pattern</dt>
      <dd><code>{{ dataset.filename_pattern }}</code></dd>
      <dt>Known 2D variables</dt>
      <dd>
        {% if dataset.variables_2d %}
        <ul class="list-inline">
          {% for var in dataset.variables_2d %}
          <li class="list-inline-item"><code>{{ var }}</code></li>
          {% endfor %}
        </ul>
        {% else %}
        No variables.
        {% endif %}
      </dd>
      <dt>Known 3D variables</dt>
      <dd>
        {% if dataset.variables_3d %}
        <ul class="list-inline">
          {% for var in dataset.variables_3d %}
          <li class="list-inline-item"><code>{{ var }}</code></li>
          {% endfor %}
        </ul>
        {% else %}
        No variables.
        {% endif %}
      </dd>
      <dt>Available Date/Time Range</dt>
      <dd>
        <strong>
          MY: {{ params.time_boundaries[dataset.dataset_id][0][0] }}
          Ls: {{ params.time_boundaries[dataset.dataset_id][0][1] }}
        </strong>
        to
        <strong>
          MY: {{ params.time_boundaries[dataset.dataset_id][1][0] }}
          Ls: {{ params.time_boundaries[dataset.dataset_id][1][1] }}
        </strong>
      </dd>
      <dt>Indexed Files</dt>
      <dd>
        <div class="accordion">
          <section>
            <input type="checkbox" name="books" id="{{ dataset.dataset_id }}-files" />
            <label for="{{ dataset.dataset_id }}-files">Open file list...</label>
            <div class="content">
              <ul>
                {% for file in params.files[dataset.dataset_id] %}
                <li><code>{{ file.f }}</code></li>
                {% endfor %}
              </ul>
            </div>
          </section>
        </div>
      </dd>
    </dl>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block scripts %}
<style type="text/css">
  .accordion > section > input {
    display: none;
  }

  .accordion > section > label {
    text-decoration: underline;
    cursor: pointer;
  }

  .accordion > section > .content {
    display: none;
  }

  .accordion > section > input:checked ~ .content {
    display: block;
  }
</style>
{% endblock %}
