<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}OpenMARS Tools</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('serve_static_libraries', tp='css', path='bootstrap.min.css') }}" rel="stylesheet">

    <style media="screen">
      body { padding-top: 5rem; }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">OpenMARS</a>
      <!--
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    -->

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.diag') }}">data</a>
          </li>
          <li class="nav-item"><span class="navbar-text text-muted"><strong>Plots:</strong></span></li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('plotter.lat_lng') }}">lat/lng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('plotter.time') }}">time</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('plotter.lat_ls') }}">lat/Ls</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('plotter.lat_alt') }}">lat/alt-ps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('plotter.satellite') }}">sat</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

      {% block content %}{% endblock %}

    </main><!-- /.container -->

    <script type=text/javascript src="{{ url_for('serve_static_libraries', tp='js', path='jquery.min.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
