{% extends "main.html" %}

{% block title %}Latitude/Longitude Plotter - {% endblock %}

{% block content %}

      <form class="" action="/plotter" method="get">

        <div class="form-row">
          <div class="form-group col-sm">
            <label for="cmap">Colormap:</label>
            <select class="custom-select" id="cmap" name="cmap">
              {% for cmap_type in params.cmaps %}
              <optgroup label="{{ cmap_type[0] }}">
                {% for cmap in cmap_type[1] %}
                <option value="{{ cmap }}"
                  {% if cmap == 'gist_earth' %}selected{% endif %}
                  >{{ cmap }}</option>
                {% endfor %}
              </optgroup>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm">
            <label for="dataset-select">Dataset</label>
            <select class="custom-select" id="dataset-select" name="dataset">
              <option selected>Choose Dataset...</option>
              {% for dataset in params.dataset_types %}
              <option value="{{ dataset.dataset_id }}"
                  data-my-from="{{ params.time_boundaries[dataset.dataset_id][0][0] }}"
                  data-ls-from="{{ params.time_boundaries[dataset.dataset_id][0][1] }}"
                  data-my-to="{{ params.time_boundaries[dataset.dataset_id][1][0] }}"
                  data-ls-to="{{ params.time_boundaries[dataset.dataset_id][1][1] }}">
                {{ dataset.dataset_name }}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-sm">
            <label for="variable-select">Variable</label>
            <select class="custom-select" id="variable-select" name="variable">
              <option selected>Choose Variable...</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm">
            <label for="plot_MY">Mars Year</label>
            <input type="text" class="form-control" name="my" id="plot_MY" placeholder="MY">
          </div>
          <div class="form-group col-sm">
            <label for="plot_Ls">Solar Longitude</label>
            <input type="text" class="form-control" name="ls" id="plot_Ls" placeholder="Ls">
          </div>
        </div>

        <div class="form-row d-none" id="lev-container">
          <div class="form-group col-sm">
            <label for="plot_lev">Level (1-35)</label>
            <input type="text" class="form-control" name="lev" id="plot_lev" placeholder="Level">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="topography">
              <label class="form-check-label" for="topography">
                Topography contours?
              </label>
            </div>
          </div>
        </div>

        <div class="form-row bg-light pt-2">
          <div class="form-group col-sm">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="difference">
              <label class="form-check-label" for="difference">
                Difference plot?
              </label>
            </div>
          </div>
        </div>

        <div class="form-row d-none bg-light" id="diff-container">
          <div class="form-group col-sm">
            <label for="plot_MY_2">Mars Year</label>
            <input type="text" class="form-control" name="my_2" id="plot_MY_2" placeholder="MY">
          </div>
          <div class="form-group col-sm">
            <label for="plot_Ls_2">Solar Longitude</label>
            <input type="text" class="form-control" name="ls_2" id="plot_Ls_2" placeholder="Ls">
          </div>
        </div>

        <div class="form-row mt-2">
          <div class="form-group col-sm">
            <button type="submit" class="btn btn-primary" id="plot-submit">Plot Data</button>
            <button class="btn btn-secondary" id="csv-submit">Download CSV</button>
          </div>
        </div>

      </form>

      <div class="row text-center">
        <div class="col-sm" id="plot">
        </div>
      </div>

{% endblock %}

{% block scripts %}

      <script type="module">
        import {validate_date, VariableSelector} from '{{ url_for('serve_static', tp='js', path='dataset_variable_selector.js') }}';

        (function ($) {
          var variable_selector = VariableSelector($, {});

          $("#plot-submit").click(e => {
            e.preventDefault();

            const dataset = $("#dataset-select").val();
            const variable = $("#variable-select").val();
            const my = parseInt($("#plot_MY").val(), 10);
            const ls = parseInt($("#plot_Ls").val(), 10);
            const lev = $("#plot_lev").val();
            const colormap = $("#cmap option:selected").val();
            const topography = $("#topography").is(":checked");

            if (!validate_date(my, ls)) {
              alert("Date out of range.");
              return false;
            }

            if (variable_selector.hasDifference()) {
              const my_2 = parseInt($("#plot_MY_2").val(), 10);
              const ls_2 = parseInt($("#plot_Ls_2").val(), 10);

              if (!validate_date(my_2, ls_2)) {
                alert("Date out of range.");
                return false;
              }

              const url = `/plot_lat_lng.diff.png/${dataset}/${variable}` +
                  `?my_1=${my}&ls_1=${ls}&my_2=${my_2}&ls_2=${ls_2}` +
                  `&lev=${lev}&cmap=${colormap}` +
                  `&topography=${topography}`;

              const img = $("<img>").attr("src", url);
              $("#plot").empty().append(img);
            } else {
              const url = `/plot_lat_lng.png/${dataset}/${variable}` +
                  `?my=${my}&ls=${ls}&lev=${lev}&cmap=${colormap}` +
                  `&topography=${topography}`;

              const img = $("<img>").attr("src", url);
              $("#plot").empty().append(img);
            }
          });

          $("#csv-submit").click(e => {
            e.preventDefault();

            const dataset = $("#dataset-select").val();
            const variable = $("#variable-select").val();
            const my = parseInt($("#plot_MY").val(), 10);
            const ls = parseInt($("#plot_Ls").val(), 10);
            const lev = $("#plot_lev").val();

            const url = `/csv/${dataset}/${variable}?my=${my}&ls=${ls}&lev=${lev}`;
            document.location = url;
          });
        })(jQuery);
      </script>

{% endblock %}
