{% extends "main.html" %}

{% block title %}Latitude/Longitude Plotter - {% endblock %}

{% block content %}

      <form class="" action="/plotter" method="get">

        <div class="form-row">
          <div class="form-group col-sm">
            <label for="dataset-select">Dataset</label>
            <select class="custom-select" id="dataset-select" name="dataset">
              <option selected>Choose Dataset...</option>
              {% for dataset in params.dataset_types %}
              <option value="{{ dataset.dataset_id }}"
                  data-my-from="{{ params.time_boundaries[dataset.dataset_id][0][0] }}"
                  data-ls-from="{{ params.time_boundaries[dataset.dataset_id][0][1] }}"
                  data-my-to="{{ params.time_boundaries[dataset.dataset_id][1][0] }}"
                  data-ls-to="{{ params.time_boundaries[dataset.dataset_id][1][1] }}">
                {{ dataset.dataset_name }}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-sm">
            <label for="variable-select">Variable</label>
            <select class="custom-select" id="variable-select" name="variable">
              <option selected>Choose Variable...</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm">
            <label for="plot_MY">Mars Year</label>
            <input type="text" class="form-control" name="my" id="plot_MY" placeholder="MY">
          </div>
          <div class="form-group col-sm">
            <label for="plot_Ls">Solar Longitude</label>
            <input type="text" class="form-control" name="ls" id="plot_Ls" placeholder="Ls">
          </div>
        </div>

        <div class="form-row d-none" id="lev-container">
          <div class="form-group col-sm">
            <label for="plot_lev">Level (1-35)</label>
            <input type="text" class="form-control" name="lev" id="plot_lev" placeholder="Level">
          </div>
        </div>

        <div class="form-row mt-2">
          <div class="form-group col-sm">
            <button type="submit" class="btn btn-primary" id="plot-submit">Plot Data</button>
            <button class="btn btn-secondary" id="csv-submit">Download CSV</button>
          </div>
        </div>

      </form>

      <div class="row text-center">
        <div class="col-sm" id="plot">
        </div>
      </div>

{% endblock %}

{% block scripts %}

      <script type="module">
        import {validate_date, VariableSelector} from '{{ url_for('serve_static', tp='js', path='dataset_variable_selector.js') }}';

        (function ($) {
          var variable_selector = VariableSelector($, {});

          $("#plot-submit").click(e => {
            e.preventDefault();

            const dataset = $("#dataset-select").val();
            const variable = $("#variable-select").val();
            const my = parseInt($("#plot_MY").val(), 10);
            const ls = parseInt($("#plot_Ls").val(), 10);
            const lev = $("#plot_lev").val();
            const colormap = $("#cmap option:selected").val();

            if (!validate_date(my, ls)) {
              alert("Date out of range.");
              return false;
            }

            const url = `/plot_satellite.png/${dataset}/${variable}` +
                `?my=${my}&ls=${ls}&lev=${lev}&cmap=${colormap}` +
                `&topography=true`;

            const img = $("<img>").attr("src", url);
            $("#plot").empty().append(img);
          });

          $("#csv-submit").click(e => {
            e.preventDefault();
            alert("Unimplemented");
          });
        })(jQuery);
      </script>

{% endblock %}
