{% extends "main.html" %}

{% block title %}
{% if params.type == "lat_ls" %}
Lat/Ls Plotter -
{% else %}
Time Plotter -
{% endif %}
{% endblock %}

{% block content %}

      <form class="" action="/plotter" method="get">

        {% if params.type == "lat_ls" %}
        <div class="form-row">
          <div class="form-group col-sm">
            <label for="cmap">Colormap:</label>
            <select class="custom-select" id="cmap" name="cmap">
              {% for cmap_type in params.cmaps %}
              <optgroup label="{{ cmap_type[0] }}">
                {% for cmap in cmap_type[1] %}
                <option value="{{ cmap }}"
                  {% if cmap == 'gist_earth' %}selected{% endif %}
                  >{{ cmap }}</option>
                {% endfor %}
              </optgroup>
              {% endfor %}
            </select>
          </div>
        </div>
        {% endif %}

        <div class="form-row">
          <div class="form-group col-sm">
            <label for="dataset-select">Dataset</label>
            <select class="custom-select" id="dataset-select" name="dataset">
              <option selected>Choose Dataset...</option>
              {% for dataset in params.dataset_types %}
              <option value="{{ dataset.dataset_id }}"
                  data-my-from="{{ params.time_boundaries[dataset.dataset_id][0][0] }}"
                  data-ls-from="{{ params.time_boundaries[dataset.dataset_id][0][1] }}"
                  data-my-to="{{ params.time_boundaries[dataset.dataset_id][1][0] }}"
                  data-ls-to="{{ params.time_boundaries[dataset.dataset_id][1][1] }}">
                {{ dataset.dataset_name }}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-sm">
            <label for="variable-select">Variable</label>
            <select class="custom-select" id="variable-select" name="variable">
              <option selected>Choose Variable...</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <h5>From...</h5>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm">
            <label for="plot_MY_from">Mars Year</label>
            <input type="text" class="form-control" name="my" id="plot_MY_from" placeholder="MY">
          </div>
          <div class="form-group col-sm">
            <label for="plot_Ls_from">Solar Longitude</label>
            <input type="text" class="form-control" name="ls" id="plot_Ls_from" placeholder="Ls">
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <h5>To...</h5>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm">
            <label for="plot_MY_to">Mars Year</label>
            <input type="text" class="form-control" name="my" id="plot_MY_to" placeholder="MY">
          </div>
          <div class="form-group col-sm">
            <label for="plot_Ls_to">Solar Longitude</label>
            <input type="text" class="form-control" name="ls" id="plot_Ls_to" placeholder="Ls">
          </div>
        </div>

        {% if params.type == "time_series" %}
        <div class="row">
          <div class="col-sm">
            <h5>Spatial Attributes</h5>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm">
            <label for="plot_lat">Latitude</label>
            <input type="text" class="form-control" name="lat" id="plot_lat" placeholder="Latitude">
          </div>
          <div class="form-group col-sm">
            <label for="plot_lon">Longitude</label>
            <input type="text" class="form-control" name="lon" id="plot_lon" placeholder="Longitude">
          </div>
        </div>
        {% endif %}

        <div class="form-row d-none" id="lev-container">
          <div class="form-group col-sm">
            <label for="plot_lev">Level (1-35)</label>
            <input type="text" class="form-control" name="lev" id="plot_lev" placeholder="Level">
          </div>
        </div>

        {% if params.type == "lat_ls" %}
        <div class="form-row bg-light pt-2">
          <div class="form-group col-sm">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="difference">
              <label class="form-check-label" for="difference">
                Difference plot?
              </label>
            </div>
          </div>
        </div>

        <div class="d-none bg-light" id="diff-container">
          <div class="row">
            <div class="col-sm">
              <h5>From...</h5>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm">
              <label for="plot_MY_from_2">Mars Year</label>
              <input type="text" class="form-control" name="my_2" id="plot_MY_from_2" placeholder="MY">
            </div>
            <div class="form-group col-sm">
              <label for="plot_Ls_from_2">Solar Longitude</label>
              <input type="text" class="form-control" name="ls_2" id="plot_Ls_from_2" placeholder="Ls">
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <h5>To...</h5>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm">
              <label for="plot_MY_to_2">Mars Year</label>
              <input type="text" class="form-control" name="my_2" id="plot_MY_to_2" placeholder="MY">
            </div>
            <div class="form-group col-sm">
              <label for="plot_Ls_to_2">Solar Longitude</label>
              <input type="text" class="form-control" name="ls_2" id="plot_Ls_to_2" placeholder="Ls">
            </div>
          </div>
        </div>
        {% endif %}

        <div class="form-row mt-2">
          <div class="form-group col-sm">
            <button type="submit" class="btn btn-primary" id="plot-submit">Plot Data</button>
            <button class="btn btn-secondary" id="csv-submit">Download CSV</button>
          </div>
        </div>

      </form>

      <div class="row text-center">
        <div class="col-sm" id="plot">
        </div>
      </div>

{% endblock %}

{% block scripts %}

      <script type="module">
        import {validate_date, VariableSelector} from '{{ url_for('serve_static', tp='js', path='dataset_variable_selector.js') }}';

        (function ($) {
          var variable_selector = VariableSelector($, {});

          $("#plot-submit").click(e => {
            e.preventDefault();

            const dataset = $("#dataset-select").val();
            const variable = $("#variable-select").val();
            const my_from = parseInt($("#plot_MY_from").val(), 10);
            const ls_from = parseFloat($("#plot_Ls_from").val());
            const my_to = parseInt($("#plot_MY_to").val(), 10);
            const ls_to = parseFloat($("#plot_Ls_to").val());
            const lat = parseInt($("#plot_lat").val(), 10);
            const lon = parseInt($("#plot_lon").val(), 10);
            const lev = $("#plot_lev").val();

            if (!validate_date(my_from, ls_from) || !validate_date(my_to, ls_to)) {
              alert("Date out of range.");
              return false;
            }

            {% if params.type == "time_series" %}
            const url = `/plot_time.png/${dataset}/${variable}` +
                        `?my_from=${my_from}&my_to=${my_to}` +
                        `&ls_from=${ls_from}&ls_to=${ls_to}` +
                        `&lat=${lat}&lon=${lon}&lev=${lev}`;

            const img = $("<img>").attr("src", url);
            $("#plot").empty().append(img);
            {% else %}
            const colormap = $("#cmap option:selected").val();
            var url = "";

            if (variable_selector.hasDifference()) {
              const my_from_2 = parseInt($("#plot_MY_from_2").val(), 10);
              const ls_from_2 = parseFloat($("#plot_Ls_from_2").val());
              const my_to_2 = parseInt($("#plot_MY_to_2").val(), 10);
              const ls_to_2 = parseFloat($("#plot_Ls_to_2").val());

              url = `/plot_latls.diff.png/${dataset}/${variable}` +
                    `?my_from_1=${my_from}&my_to_1=${my_to}` +
                    `&ls_from_1=${ls_from}&ls_to_1=${ls_to}` +
                    `&my_from_2=${my_from_2}&my_to_2=${my_to_2}` +
                    `&ls_from_2=${ls_from_2}&ls_to_2=${ls_to_2}` +
                    `&lat=${lat}&lon=${lon}&lev=${lev}` +
                    `&cmap=${colormap}`;
            } else {
              url = `/plot_latls.png/${dataset}/${variable}` +
                    `?my_from=${my_from}&my_to=${my_to}` +
                    `&ls_from=${ls_from}&ls_to=${ls_to}` +
                    `&lat=${lat}&lon=${lon}&lev=${lev}` +
                    `&cmap=${colormap}`;
            }

            const img = $("<img>").attr("src", url);
            $("#plot").empty().append(img);
            {% endif %}
          });

          $("#csv-submit").click(e => {
            e.preventDefault();

            {% if params.type == "time_series" %}
            const dataset = $("#dataset-select").val();
            const variable = $("#variable-select").val();
            const my_from = parseInt($("#plot_MY_from").val(), 10);
            const ls_from = parseInt($("#plot_Ls_from").val(), 10);
            const my_to = parseInt($("#plot_MY_to").val(), 10);
            const ls_to = parseInt($("#plot_Ls_to").val(), 10);
            const lat = parseInt($("#plot_lat").val(), 10);
            const lon = parseInt($("#plot_lon").val(), 10);
            const lev = $("#plot_lev").val();

            if (!validate_date(my_from, ls_from) || !validate_date(my_to, ls_to)) {
              alert("Date out of range.");
              return false;
            }

            const url = `/time.csv/${dataset}/${variable}?my_from=${my_from}&my_to=${my_to}&ls_from=${ls_from}&ls_to=${ls_to}&lat=${lat}&lon=${lon}&lev=${lev}`;
            document.location = url;
            {% else %}
            alert("Not implemented.");
            {% endif %}
          });
        })(jQuery);
      </script>

{% endblock %}
